<div class="my-5">
    <h1 class="text-center mb-5">도서정보</h1>
    <div class="row">
        <div class="col-lg-4 mb-3">
            <img src="<%=book.image%>" width="90%">
        </div>
        <div class="col">
            <h4 class="mb-4" id="title">
                [<%=book.bid%>] <%=book.title%>
                <i class="bi bi-heart ms-2 like" id="like"></i>
                    <span id="count" class="count">0</span>
            </h4>
            <hr>
            <div class="my-3"><strong>저자 : </strong><%=book.authors%></div>
            <div class="my-3"><strong>가격 : </strong><%=book.fmtprice%>원</div>
            <div class="my-3"><strong>등록일 : </strong><%=book.fmtdate%></div>
            <div class="my-3"><strong>출판사 : </strong><%=book.publisher%></div>
            <div class="my-3"><strong>ISBN : </strong><%=book.isbn%></div>
            <div class="my-3"><%=book.contents%></div>
            <hr>
            <button class="btn btn-danger px-5">장바구니</button>
            <button class="btn btn-outline-danger px-5">바로구매</button>
        </div>
    </div>
</div>
<script>
    getCheck();
    //빈하트를 클릭(좋아요 추가)
    $("#title").on("click", ".bi-heart", function(){
        if(!sessionStorage.getItem("uid")){
            sessionStorage.setItem("target", "/books/info?bid=<%=book.bid%>");
            location.href="/users/login";
        }else{
            $.ajax({
                type:"post",
                url:"/books/like/insert",
                data:{uid:sessionStorage.getItem("uid"), bid:"<%=book.bid%>"},
                success:function(){
                    alert("관심상품 등록 완료했습니다.");
                    getCheck();
                }
            });
        }
    });

    //채워진 하트 클릭(좋아요 삭제)
    $("#title").on("click", ".bi-heart-fill", function(){
        $.ajax({
            type:"get",
            url:"/books/like/delete",
            data:{uid:sessionStorage.getItem("uid"), bid:"<%=book.bid%>"},
            success:function(){
                alert("관심상품 등록을 취소했습니다.");
                getCheck();
            }
        })
    });

    function getCheck(){
        $.ajax({
            type:"get",
            url:"/books/like/check",
            data:{uid:sessionStorage.getItem("uid"), bid:"<%=book.bid%>"},
            success:function(data){
                $("#count").html(data.fcnt);
                if(data.ucnt==1){
                    $("#like").removeClass("bi-heart");
                    $("#like").addClass("bi-heart-fill");
                }else{
                    $("#like").removeClass("bi-heart-fill");
                    $("#like").addClass("bi-heart");
                }
            }
        });
    }
</script>